.secondary-advantages {
  color: $color;
  background-color: $secondary-advantage-background-color;
}

@media (min-width: $tablet-width) {
  .secondary-advantages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
