.intro__br--tablet {
  display: none;
}

@media (min-width: $tablet-width) {
  .intro__br--tablet {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .intro__br--tablet {
    display: none;
  }
}
