.feedback__required-fields-text {
  display: none;
}

@media (min-width: $tablet-width) {
  .feedback__required-fields-text {
    display: block;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: $secondary-color;
    text-align: right;
    padding-right: 0;
    margin-right: 0;
    margin-left: auto;
  }
}
