.infrastructure__description {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  color: $secondary-color;
  margin-top: 10px;
}

@media (min-width: $tablet-width) {
  .infrastructure__description {
    text-align: center;
    margin-top: 14px;
  }
}
