.feedback__submit-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $button-color;
  background-color: $button-background-color;
}

@media (min-width: $tablet-width) {
  .feedback__submit-button {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
