.feedback__submit-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $button-color;
  background-color: $button-background-color;
}
