.primary-advantage--index-top {
  padding-top: 52px;
}

@media (min-width: $tablet-width) {
  .primary-advantage--index-top {
    padding-top: 21px;
  }
}

@media (min-width: $tablet-width) {
  .primary-advantage--index-top {
    padding-top: 28px;
  }
}
