.infrastructure__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

@media (min-width: $tablet-width) {
  .infrastructure__icon-wrapper {
    width: 76px;
    height: 76px;
  }
}
