.primary-advantage__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
}

@media (min-width: $tablet-width) {
  .primary-advantage__title {
    font-size: 21px;
  }
}
