.photo__image-wrapper {
  width: 280;
  height: 280;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .photo__image-wrapper {
    width: 324;
    height: 267;
  }
}

@media (min-width: $desktop-width) {
  .photo__image-wrapper {
    width: 400;
    height: 267;
  }
}
