.main-navigation__list {
  position: relative;
  margin: 0;
  width: 100%;
  flex-direction: column;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .main-navigation__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 11px;
    margin-bottom: 0;
  }
}
