.social__link {
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  padding: 0;
  background-color: $button-background-color;
}

.social__link svg {
  fill: $inverted-color;
}

.social__link:hover {
  background-color: $button-hover-background-color;
}

.social__link:active {
  background-color: $button-activate-background-color;
}

.social__link:active svg {
  fill: $button-activate-color;
}
