.hotel-search__search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $button-color;
  background-color: $button-background-color;
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 26px;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  max-width: 458px;
  border-style: none;
}

.hotel-search__search-button:hover {
  background-color: $button-hover-background-color;
}

.hotel-search__search-button:active {
  color: $button-activate-color;
  background-color: $button-activate-background-color;
}

.hotel-search__search-button:disabled {
  background-color: $button-disabled-background-color;
}
