.page-footer__follow {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-footer__follow {
    margin: 0;
  }
}
