.video__slider-scale {
  position: relative;
  width: 235px;
  height: 3px;
  background: $video-scale-color;
}

@media (min-width: $tablet-width) {
  .video__slider-scale {
    width: 389px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .video__slider-scale {
    width: 540px;
    box-sizing: border-box;
  }
}
