.infrastructure__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: $mobile-max-width) {
  .infrastructure__title {
    text-align: left;
  }
}

@media (min-width: $tablet-min-width) {
  .infrastructure__title {
    text-align: center;
  }
}
