.copyright__text {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.copyright__text:hover {
  color: $hover-color;
}

.copyright__text:active {
  color: $activate-color;
}
