.advantage-photo {
  display: flex;
  justify-content: center;
  height: 260px;
}

.advantage-photo img {
  max-width: 100%;
  height: 260px;
}

@media (min-width: $tablet-width) {
  .advantage-photo {
    height: 256px;
  }

  .advantage-photo img {
    height: 256px;
  }
}
