.main-navigation__item {
  color: $inverted-color;
  background-color: $main-navigation-mobile-background-color;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
}
