.main-navigation__item {
  text-align: center;
  text-transform: uppercase;
  list-style: none;
}

@media (max-width: $table-width) {
  .main-navigation__item {
    color: $inverted-color;
    background-color: $main-navigation-mobile-background-color;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
  }

  /*
  .main-navigation__item:first-child {
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2);
  }

  .main-navigation__item:nth-child(2),
  .main-navigation__item:nth-child(3) {
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }

  .main-navigation__item:last-child {
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }
  */
  /*background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);*/
}

@media (min-width: $tablet-width) {
  .main-navigation__item {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    width: 19.9%;
  }

  .main-navigation__item--separator {
    margin-left: auto;
  }
}
