.secondary-advantage {
  display: flex;
  flex-direction: column;
}

.secondary-advantage:not(:last-child) {
  border-bottom: 1px solid $secondary-advantage-line-color;
}

@media (min-width: $tablet-width) {
  .secondary-advantage {
    padding-top: 0;
    padding-bottom: 16px;
  }

  .secondary-advantage:not(:last-child) {
    border-style: none;
  }
}


@media (min-width: $desktop-width) {
  .secondary-advantage {
    padding-bottom: 36px;
  }
}
