.primary-advantage {
  color: $primary-advantage-color;
  background-color: $primary-advantage-background-color;
  padding-top: 20px;
  padding-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .primary-advantage {
    padding-top: 21px;
  }
}

@media (min-width: $desktop-width) {
  .primary-advantage {
    padding-top: 28px;
  }
}
