.feedback-fieldset {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-top: 1px solid $line-color;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .feedback-fieldset {
    border-top: none;
    padding-left: 0;
    padding-right: 0;
  }
}
