.infrastructures {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 26px;
  padding-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .infrastructures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
    padding-bottom: 46px;
  }
}

@media (min-width: $desktop-width) {
  .infrastructures {
    padding-bottom: 67px;
  }
}
