@media (min-width: $tablet-width) {
  .infrastructure__icon--house {
    width: 75px;
    height: 72px;
  }
}

@media (min-width: $tablet-width) {
  .infrastructure__icon--souvenir {
    width: 64px;
    height: 75px;
  }
}

@media (min-width: $tablet-width) {
  .infrastructure__icon--food {
    width: 76px;
    height: 68px;
  }
}
