@import "variables.scss";
@import "advantage-photo/advantage-photo.scss";
@import "advantages/advantages.scss";
@import "advantages/__advantage-photo/_left/advantages__advantage-photo--left.scss";
@import "advantages/__advantage-photo/_right/advantages__advantage-photo--right.scss";
@import "advantages/__advantage-photo/_row3/advantages__advantage-photo--row3.scss";
@import "advantages/__infrastructures/advantages__infrastructures.scss";
@import "advantages/__primary-advantage/_left/advantages__primary-advantage--left.scss";
@import "advantages/__primary-advantage/_right/advantages__primary-advantage--right.scss";
@import "advantages/__secondary-advantages/advantages__secondary-advantages.scss";
@import "advantages/__triangle/advantages__triangle.scss";
@import "body/body.scss";
@import "body/__page-footer/_form/body__page-footer--form.scss";
@import "body/__page-wrapper/body__page-wrapper.scss";
@import "copyright/copyright.scss";
@import "copyright/__link/copyright__link.scss";
@import "copyright/__text/copyright__text.scss";
@import "feedback/feedback.scss";
@import "feedback/__feedback-fieldset/_attractions/feedback__feedback-fieldset--attractions.scss";
@import "feedback/__feedback-fieldset/_contacts/feedback__feedback-fieldset--contacts.scss";
@import "feedback/__feedback-fieldset/_name/feedback__feedback-fieldset--name.scss";
@import "feedback/__feedback-fieldset/_rate/feedback__feedback-fieldset--rate.scss";
@import "feedback/__feedback-fieldset/_emotions/feedback__feedback-fieldset--emotions.scss";
@import "feedback/__required-fields-text/feedback__required-fields-text.scss";
@import "feedback/__submit-button/feedback__submit-button.scss";
@import "feedback/__submit-wrapper/feedback__submit-wrapper.scss";
@import "feedback-fieldset/feedback-fieldset.scss";
@import "feedback-fieldset/_contacts/feedback-fieldset--contacts.scss";
@import "feedback-fieldset/__contact-fields-wrapper/feedback-fieldset__contact-fields-wrapper.scss";
@import "feedback-fieldset/__input/feedback-fieldset__input.scss";
@import "feedback-fieldset/__input/_checkbox/feedback-fieldset__input--checkbox.scss";
@import "feedback-fieldset/__input/_radio/feedback-fieldset__input--radio.scss";
@import "feedback-fieldset/__input/_textarea/feedback-fieldset__input--textarea.scss";
@import "feedback-fieldset/__input/_visually-hidden/feedback-fieldset__input--visually-hidden.scss";
@import "feedback-fieldset/__input_icon/feedback-fieldset__input-icon.scss";
@import "feedback-fieldset/__input-with-icon/feedback-fieldset__input-with-icon.scss";
@import "feedback-fieldset/__input-wrapper/feedback-fieldset__input-wrapper.scss";
@import "feedback-fieldset/__input-wrapper/_checkbox/feedback-fieldset__input-wrapper--checkbox.scss";
@import "feedback-fieldset/__input-wrapper/_contact/feedback-fieldset__input-wrapper--contact.scss";
@import "feedback-fieldset/__input-wrapper/_radio/feedback-fieldset__input-wrapper--radio.scss";
@import "feedback-fieldset/__intro-label/feedback-fieldset__intro-label.scss";
@import "feedback-fieldset/__intro-label/_rate/feedback-fieldset__intro-label--rate.scss";
@import "feedback-fieldset/__label/feedback-fieldset__label.scss";
@import "feedback-fieldset/__label/_checkbox/feedback-fieldset__label--checkbox.scss";
@import "feedback-fieldset/__label/_contact/feedback-fieldset__label--contact.scss";
@import "feedback-fieldset/__label/_contact/_form/feedback-fieldset__label--contact--form.scss";
@import "feedback-fieldset/__label/_radio/feedback-fieldset__label--radio.scss";
@import "feedback-fieldset/__list/feedback-fieldset__list.scss";
@import "feedback-fieldset/__list/_attractions/feedback-fieldset__list--attractions.scss";
@import "feedback-fieldset/__list/_rate/feedback-fieldset__list--rate.scss";
@import "feedback-fieldset/__name-fields-wrapper/feedback-fieldset__name-fields-wrapper.scss";
@import "feedback-fieldset/__textarea-wrapper/feedback-fieldset__textarea-wrapper.scss";
@import "hotel-search/hotel-search.scss";
@import "hotel-search/__br/_desktop/hotel-search__br--desktop.scss";
@import "hotel-search/__br/_mobile/hotel-search__br--mobile.scss";
@import "hotel-search/__br/_tablet/hotel-search__br--tablet.scss";
@import "hotel-search/__description/hotel-search__description.scss";
@import "hotel-search/__search-button/hotel-search__search-button.scss";
@import "hotel-search/__search-button-wrapper/hotel-search__search-button-wrapper.scss";
@import "hotel-search/__title/hotel-search__title.scss";
@import "infrastructure/infrastructure.scss";
@import "infrastructure/_food/infrastructure--food.scss";
@import "infrastructure/_house/infrastructure--house.scss";
@import "infrastructure/_souvenir/infrastructure--souvenir.scss";
@import "infrastructure/__br/_desktop/infrastructure__br--desktop.scss";
@import "infrastructure/__br/_mobile/infrastructure__br--mobile.scss";
@import "infrastructure/__br/_tablet/infrastructure__br--tablet.scss";
@import "infrastructure/__description/infrastructure__description.scss";
@import "infrastructure/__description-wrapper/infrastructure__description_wrapper.scss";
@import "infrastructure/__title/infrastructure__title.scss";
@import "infrastructure/__icon-wrapper/infrastructure__icon-wrapper.scss";
@import "infrastructures/infrastructures.scss";
@import "intro/__br/_desktop/intro__br--desktop.scss";
@import "intro/__br/_mobile/intro__br--mobile.scss";
@import "intro/__br/_tablet/intro__br--tablet.scss";
@import "intro/__description/intro__description.scss";
@import "intro/__header/intro__header.scss";
@import "intro/__main-photo/_index/intro__main-photo--index.scss";
@import "intro/__main-photo/_form/intro__main-photo--form.scss";
@import "intro/__main-photo/_catalog/intro__main-photo--catalog.scss";
@import "intro/__main-photo-text/intro__main-photo-text.scss";
@import "intro/__main-photo-text/_catalog/intro__main-photo-text--catalog.scss";
@import "intro/__main-photo-text/_form/intro__main-photo-text--form.scss";
@import "intro/__main-photo-triangle/intro__main-photo-triangle.scss";
@import "intro/__photo-wrapper/intro__photo-wrapper.scss";
@import "intro/__photo-wrapper/_catalog/intro__photo-wrapper--catalog.scss";
@import "intro/__photo-wrapper/_form/intro__photo-wrapper--form.scss";
@import "intro/__photo-wrapper/_index/intro__photo-wrapper--index.scss";
@import "intro/intro.scss";
@import "main-navigation/__close-button/main-navigation__close-button.scss";
@import "main-navigation/__item/main-navigation__item.scss";
@import "main-navigation/__item/_active/main-navigation__item--active.scss";
@import "main-navigation/__item/_separator/main-navigation__item--separator.scss";
@import "main-navigation/__list/main-navigation__list.scss";
@import "main-navigation/__menu-button/main-navigation__menu-button.scss";
@import "main-navigation/__menu-button-wrapper/main-navigation__menu-button-wrapper.scss";
@import "main-navigation/__logo/_mobile/main-navigation__logo--mobile.scss";
@import "main-navigation/__logo/_tablet/main-navigation__logo--tablet.scss";
@import "main-navigation/main-navigation.scss";
@import "page-footer/__follow/page-footer__follow.scss";
@import "page-footer/__follow-wrapper/page-footer__follow-wrapper.scss";
@import "page-footer/page-footer.scss";
@import "page-header/page-header.scss";
@import "page-header/__main-navigation/page-header__main-navigation.scss";
@import "page-main/page-main.scss";
@import "photo/photo.scss";
@import "photo/_big/photo--big.scss";
@import "photo/__author/photo__author.scss";
@import "photo/__caption/photo__caption.scss";
@import "photo/__caption/_dark/photo__caption--dark.scss";
@import "photo/__image/photo__image.scss";
@import "photo/__image/_big/photo__image--big.scss";
@import "photo/__image-wrapper/photo__image-wrapper.scss";
@import "photo/__image-wrapper/_big/photo__image-wrapper--big.scss";
@import "photo/__like/photo__like.scss";
@import "photo/__like-counter/photo__like-counter.scss";
@import "photo/__name/photo__name.scss";
@import "photo/__name-and-author/photo__name-and-author.scss";
@import "photo/__wrapper/photo__wrapper.scss";
@import "photo-section/photo-section.scss";
@import "primary-advantage/__br/_desktop/primary-advantage__br--desktop.scss";
@import "primary-advantage/__br/_mobile/primary-advantage__br--mobile.scss";
@import "primary-advantage/__br/_tablet/primary-advantage__br--tablet.scss";
@import "primary-advantage/__description/primary-advantage__description.scss";
@import "primary-advantage/__title/primary-advantage__title.scss";
@import "primary-advantage/primary-advantage.scss";
@import "secondary-advantage/__br/_desktop/secondary-advantage__br--desktop.scss";
@import "secondary-advantage/__br/_mobile/secondary-advantage__br--mobile.scss";
@import "secondary-advantage/__br/_tablet/secondary-advantage__br--tablet.scss";
@import "secondary-advantage/__description/secondary-advantage__description.scss";
@import "secondary-advantage/__title/secondary-advantage__title.scss";
@import "secondary-advantage/secondary-advantage.scss";
@import "secondary-advantages/secondary-advantages.scss";
@import "social/social.scss";
@import "social/__link/social__link.scss";
@import "social/__list/social__list.scss";
@import "video/video.scss";
@import "video/__button/video__button.scss";
@import "video/__button/_fullscreen/video__button--fullscreen.scss";
@import "video/__button/_replay/video__button--replay.scss";
@import "video/__button/_subtitles/video__button--subtitles.scss";
@import "video/__controls/video__controls.scss";
@import "video/__description/video__description.scss";
@import "video/__empty/video__empty.scss";
@import "video/__header/video__header.scss";
@import "video/__image/video__image.scss";
@import "video/__image-wrapper/video__image-wrapper.scss";
@import "video/__slider/video__slider.scss";
@import "video/__slider-scale/video__slider-scale.scss";
@import "video/__slider-toggle/video__slider-toggle.scss";
@import "video/__wrapper/video__wrapper.scss";
@import "visually-hidden/visually-hidden.scss";
