/* fonts */
$font-family: "PT Sans";

/* colors */
$color: black;
$secondary-color: #333333;
$inverted-color: white;
$background-color: white;
$main-navigation-mobile-background-color: #81b3d2;
$primary-advantage-color: white;
$primary-advantage-background-color: #81b3d2;
$secondary-advantage-background-color: #eeeeee;
$button-color: white;
$button-background-color: #81b3d2;
$social-link-background-color: #81b3d2;
$feedback-field-background-color: #f2f2f2;
$text-over-photo-background-color: rgba(0, 0, 0, 0.3);
$photo-caption-background-color: #f2f2f2;
$photo-caption-dark-background-color: #eaeaea;
$transparent-color: transparent;
$secondary-advantage-line-color: #d6d6d6;
$desktop-padding-color: #e7e5e5;
$line-color: #e5e5e5;
$shadow-color: rgba(0, 1, 1, 0.2);
$input-field-icon-background-color: #e6e6e6;
$input-background-color: #f2f2f2;
$video-over-background-color: rgba(0, 0, 0, 0.6);
$video-background-color: #f2f2f2;
$video-scale-color: rgba(255, 255, 255, 0.2);
$video-button-color: #5c6870;
$mobile-menu-button-color: #81b3d2;

/* state colors */
$hover-color: #81b3d2;
$activate-color: rgba(black, 0.3);
$active-color: #766357;
$active-hover-color: #604e43;
$active-activate-color: rgba(#766357, 0.3);
$button-hover-background-color: #669ec0;
$button-activate-color:  rgba(white, 0.3);
$button-activate-background-color: #5496bd;
$button-disabled-background-color: #e5e5e5;
$mobile-menu-button-hover-color: rgba(#81b3d2, 0.6);
$mobile-menu-button-activate-color: rgba(#81b3d2, 0.3);
$mobile-menu-close-button-hover-color: rgba(white, 0.6);
$mobile-menu-close-button-activate-color: rgba(white, 0.3);
$input-hover-background-color: #e5e5e5;
$input-activate-color: rgba(#333333, 0.3);
$input-activate-background-color: #d5d5d5;
$video-button-mobile-hover-color: #333333;
$video-button-mobile-activate-color: rgba(#333333, 0.3);
$video-button-desktop-hover-color: rgba(white, 0.6);
$video-button-desktop-activate-color: rgba(white, 0.3);

/* size */
$mobile-width : 320px;
$tablet-width : 768px;
$desktop-width : 1200px;
