/* fonts */
$font-family: "PT Sans";

/* colors */
$color: black;
$inverted-color: white;
$background-color: white;
$main-navigation-mobile-background-color: #81b3d2;
$primary-advantage-color: white;
$primary-advantage-background-color: #81b3d2;
$secondary-advantage-background-color: #eeeeee;
$hotel-search-button-background-color: #81b3d2;
