.intro__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .intro__header {
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
  }
}
