.page-footer {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  background-color: $background-color;
  padding-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
