@media (max-width: $mobile-max-width) {
  .page-footer {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $tablet-min-width) {
  .page-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}
