.page-footer__follow-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
}

@media (min-width: $tablet-width) {
  .page-footer__follow-wrapper {
    padding-top: 34px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__follow-wrapper {
    margin-right: 26px;
  }
}
