.main-navigation__close-button {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  bottom: 0;
  right: 26px;
  margin: auto;
  z-index: 1;
  background-color: $transparent-color;
  border: none;
  cursor: pointer;
}

.main-navigation__close-button svg {
  fill: $inverted-color;
}

.main-navigation__close-button:hover svg {
  fill: $mobile-menu-close-button-hover-color;
}

.main-navigation__close-button:active svg {
  fill: $mobile-menu-close-button-activate-color;
}

@media (min-width: $tablet-width) {
  .main-navigation__close-button {
    display: none;
  }
}
