.video__fullscreen-wrapper {
  grid-row: 2;
  grid-column-start: 4;
  grid-column-end: 5;
  width: 66px;
}

.video__button--fullscreen {
  grid-row: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}
