.photo-section {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .photo-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .photo-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
