.photo__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
}


@media (min-width: $tablet-width) {
  .photo__wrapper {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .photo__wrapper {
    position: relative;
    width: 100%;
  }
}
